@using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "Kategoriler Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Kategoriler</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Kategori Listesi</h3>
                        <a href="/Category/KategoriEkle" class="btn bg-gradient-secondary btn-sm float-right">Yeni Kategori Ekle</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Kategori Adı</th>
                                    <th>Açıklama</th>
                                    <th>Aktiflik</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                    <th>Başlıklar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CategoryID</td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.CategoryDescription</td>
                                        <td>@item.CategoryStatus</td>
                                        <td><a href="/Category/KategoriSil/@item.CategoryID" class="btn btn-danger btn-sm">Sil</a></td>
                                        <td><a href="/Category/KategoriDuzenle/@item.CategoryID" class="btn btn-warning btn-sm">Güncelle</a></td>
                                        <td><a href="#" class="btn btn-primary btn-sm">Başlıklar</a></td>
                                    </tr>
                                }
                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Kategori Adı</th>
                                        <th>Açıklama</th>
                                        <th>Aktiflik</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Başlıklar</th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->